<h1><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.CType.hivefacts_facts" /></h1>

<f:if condition="{processedRow.tx_hivefacts_backendtitle}">
    <h4>{processedRow.tx_hivefacts_backendtitle}</h4>
</f:if>
<f:if condition="{processedRow.tx_hivefacts_type}">
    <strong><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivefacts_type" /></strong>
    {processedRow.tx_hivefacts_type.0}<br>
</f:if>
<f:if condition="{processedRow.tx_hivefacts_duration}">
    <strong><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivefacts_duration" /></strong>
    {processedRow.tx_hivefacts_duration}s<br>
</f:if>
<f:if condition="{processedRow.tx_hivefacts_element}">
    <strong><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivefacts_element" />:</strong>
    <br>
    <f:for each="{processedRow.tx_hivefacts_element}" as="item">
        <ul>
            <li>
                <f:if condition="{processedRow.tx_hivefacts_type.0} == reasons">
                    <f:then>
                        <f:format.number decimals="0">{item.tx_hivefacts_element_value}</f:format.number>: {item.tx_hivefacts_element_backendtitle} (id={item.uid})<br/>
                    </f:then>
                    <f:else>
                        {item.tx_hivefacts_element_backendtitle} (value={item.tx_hivefacts_element_startvalue}-{item.tx_hivefacts_element_value}, duration={item.tx_hivefacts_element_duration}, id={item.uid})<br/>
                    </f:else>
                </f:if>
            </li>
        </ul>
    </f:for>
</f:if>
