<h1><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.CType.hivefacts_facts" /></h1>

<f:if condition="{processedRow.tx_hivefacts_backendtitle}">
    <h4>{processedRow.tx_hivefacts_backendtitle}</h4>
</f:if>
<f:if condition="{processedRow.tx_hivefacts_type}">
    <strong><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivefacts_type" /></strong>
    {processedRow.tx_hivefacts_type.0}<br>
</f:if>
<f:if condition="{processedRow.tx_hivefacts_duration}">
    <strong><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivefacts_duration" /></strong>
    {processedRow.tx_hivefacts_duration}s<br>
</f:if>
<f:if condition="{processedRow.tx_hivefacts_element}">
    <strong><f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivefacts_element" /></strong>
    <br>
    <f:for each="{processedRow.tx_hivefacts_element}" as="item">
        <ul>
            <li>
                <f:translate key="LLL:EXT:hive_facts/Resources/Private/Language/locallang_db.xlf:tx_hivefacts_element.tx_hivefacts_element_backendtitle" /> {item.tx_hivefacts_element_backendtitle} (id={item.uid})<br/>
            </li>
        </ul>
    </f:for>
</f:if>
