<div class="col">
    <div class="hive-facts-item reason">
            <f:if condition="{data.tx_hivefacts_element_value}">
                <span class="value"><f:format.number decimals="0">{data.tx_hivefacts_element_value}</f:format.number></span>
            </f:if>
            <f:if condition="{data.tx_hivefacts_element_title}">
                <span class="title">{data.tx_hivefacts_element_title}</span><br />
            </f:if>
            <f:if condition="{data.tx_hivefacts_element_subtitle}">
                <span class="subtitle">{data.tx_hivefacts_element_subtitle}</span><br />
            </f:if>
            <f:if condition="{data.tx_hivefacts_element_text}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_hivefacts_element_text}</f:format.html>
            </f:if>
            <f:if condition="{image}">
                <f:image class="img-fluid" image="{image}" alt="{image.alternative}" title="{image.title}"/><br />
            </f:if>
    </div>
</div>
