<div class="col">
    <div class="hive-facts-item fact">

        <span id="hive-facts--{plugin_uid}-{data.uid}" class="value" data-pluginuid="{plugin_uid}" data-uid="{data.uid}" data-start-value="{data.tx_hivefacts_element_startvalue}" data-value="{data.tx_hivefacts_element_value}" data-decimalplaces="{data.tx_hivefacts_element_decimalplaces}" data-duration="{data.tx_hivefacts_element_duration}" data-duration-global="{duration}" data-usegrouping="{data.tx_hivefacts_element_grouping}" data-separator="{data.tx_hivefacts_element_seperator}" data-decimal="{data.tx_hivefacts_element_decimal}" data-prefix="{data.tx_hivefacts_element_prefix}" data-suffix="{data.tx_hivefacts_element_suffix}" >
            {data.tx_hivefacts_element_startvalue}
        </span>

        <f:if condition="{data.tx_hivefacts_element_title}">
            <span class="title">{data.tx_hivefacts_element_title}</span><br />
        </f:if>
        <f:if condition="{data.tx_hivefacts_element_subtitle}">
            <span class="subtitle">{data.tx_hivefacts_element_subtitle}</span><br />
        </f:if>
        <f:if condition="{data.tx_hivefacts_element_text}">
            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_hivefacts_element_text}</f:format.html>
        </f:if>
        <f:if condition="{image}">
            <f:image class="img-fluid" image="{image}" alt="{image.alternative}" title="{image.title}"/><br />
        </f:if>
    </div>
</div>